body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: flex;
}

.sidebar-left {
  background-color: #354052;
  height: 100vh;
  width: 15vw;
}

.top-left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 3px solid #2c3544;
}

.profile-pic {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  margin-top: 3rem;
}

.profile-name {
  color: #bcc5d0;
}

.down-arrow-icon {
  height: .6rem;
  width: .6rem;
  margin-left: .65rem;
}

.search-area {
  width: 85vw;
  background-color: red;
}